@model CatalogViewModel
@{
    Layout = "_Layout";
}

<div>
    <p style="text-align: start">Каталог</p>
    <div style="display: flex; flex-direction: row; align-items: center; margin-bottom: 16px">
        <input id="searchinput" type="text" name="search" placeholder="Название товара"/>
        <svg style="margin-left: 10px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
        </svg>
        <div style="margin-left: 50px" class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Категория
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="/">Все</a></li>
                @foreach (var item in Model.Categories)
                {
                    <li><a class="dropdown-item" href="/@item.HierarchicalId">@item.Name</a></li>
                }
            </ul>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-2">
        @foreach (var item in Model.Products)
        {
            <div class="col">
                <div class="card shadow-sm">
                    @if (@item.Images != null)
                    {
                        string image = "/Image?url=" + item.Images.First();
                        <img style="width: 100%; max-width: 367px; max-height: 475px" src="@image" />
                    }
                    else
                    {
                        <img style="width: 100%; max-width: 367px; max-height: 475px" />
                    }
                    <div class="card-body" style="display: flex; flex-direction: column; align-items: start;">
                        <div class="pricediv">
                            <h4 style="text-align: start">@item.Name</h4>
                        </div>
                        <div class="pricediv">
                            <p>Цена:&nbsp;</p>
                            <p>@item.Cost р.</p>
                        </div>
                        <div class="pricediv">
                            <p>Остаток:&nbsp;</p>
                            <p>@item.ProdCount шт.</p>
                        </div>
                        <div class="pricediv">
                            <p>Код:&nbsp;</p>
                            <p>@item.NomNumber</p>
                        </div>
                        <div>
                            <p style="text-align: start">@item.DescriptionSimple</p>
                        </div>
                            <form style="display: flex; flex-direction: row; justify-content: space-between; width: 100%" method="post" class="addToCartForm" asp-controller="Sbis" asp-action="AddToCart">
                                <button type="submit" class="btn btn-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                                    </svg>
                                    В корзину
                                </button>
                                <div>
                                    <input name="quantity" style="width: 70px" type="number" id="count" name="count" min="1" value="1" required />
                                    <input type="hidden" name="productId" value="@item.Id" />
                                    <label>шт.</label>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>